@font-face {
  font-family: "otr";
  src: url("/otr-type/OTR type/fonts/otf/OTRtypeGX.ttf") format("truetype");
}

@font-face {
  font-family: "arvo-regular";
  src: url("/arvo/Arvo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "arvo-bold";
  src: url("/arvo/Arvo-Bold.ttf") format("truetype");
}

body {
  background-color: blanchedalmond;
}

nav {
  width: 98vw;
  height: 10vh;
  background-color: #8abcd7;
  border-radius: 10px;
}

.nav-hstack {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.nav-links {
  text-decoration: none;
  font-size: large;
  color: whitesmoke;
  font-family: "otr", sans-serif;
  transition: scale 0.2s ease-in-out;
}

.nav-links:hover:not(.no-scale) {
  scale: 1.2;
}

@keyframes rotateImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-image {
  max-height: 10vh;
  border-radius: 100px;
  animation: rotateImage 5s cubic-bezier(0.5, -0.5, 0.5, 1.5) infinite;
}

.nav-image-container {
  max-height: 10vh;
}

@keyframes scaleIcon {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.nav-email-container {
  animation: scaleIcon 2s linear infinite;
}

.nav-item-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-text-icon-container {
  display: flex;
  align-items: center;
  height: 10vh;
}

.nav-image {
  transition: transform 0.3s ease;
}

.nav-item-container:hover .nav-image {
  transform: none;
}

.nav-links .letter {
  display: inline-block;
  transition: transform 0.5s ease;
}

.nav-links.expand .letter:not(:first-child) {
  transform: translateX(10px);
}

.members-founders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.members-founders-card {
  background: linear-gradient(51deg, #2b59c3 30%, #20063b 95%);
  margin: 10px;
  width: 40vw;
  height: 40vh;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
}

.members-founders-card-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 40px;
  background-color: #7facc4;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.2s ease;
  font-family: "arvo-regular", sans-serif;
}

.members-founders-card-container > h1 {
  font-family: "arvo-bold", sans-serif;
}

.members-founders-card:hover .members-founders-card-container {
  border-radius: 10px;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.members-founders-card-contacts {
  display: flex;
  margin-top: 40px;
}

.members-founders-card-contacts a {
  color: black;
}

.members-founders-card-contacts img,
.members-founders-card-contacts svg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.members-founders-card-contacts-instagram,
.members-founders-card-contacts-email {
  display: inline-block;
  margin-right: 10px;
}

.members-founders-card-picture {
  position: absolute;
  margin-left: 60%;
  bottom: 12vh;
}

.members-founders-card-picture .chakra-avatar__img {
  width: 10vw;
  height: 10vh;
  border-radius: 50% !important;
}

.members-header {
  font-family: "otr", sans-serif;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  overflow: hidden;
  font-family: "arvo-regular", sans-serif;
}

.members-card {
  background-color: #7facc4;
  width: 70vw;
  height: 25vh;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
  transform: scale(0.98);
  transition: transform 0.25s ease-in-out;
}

.members-card:hover {
  transform: scale(1);
}

.members-card-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: #7facc4;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.2s ease;
}

.members-card-container > h1 {
  font-family: "arvo-bold", sans-serif;
}

.members-card:hover .members-card-container {
  border-radius: 10px;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.members-card-contacts {
  display: flex;
  margin-top: 40px;
}

.members-card-contacts a {
  color: black;
}

.members-card-contacts img,
.members-card-contacts svg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.members-card-contacts-email {
  display: inline-block;
  margin-right: 10px;
}

.members-card-picture {
  position: absolute;
  left: 76%;
  bottom: 12vh;
}

.members-card-picture .chakra-avatar__img {
  width: 10vw !important;
  height: 10vh !important;
  border-radius: 50% !important;
}
