@font-face {
  font-family: "otr";
  src: url("/otr-type/OTR type/fonts/otf/OTRtypeGX.ttf") format("truetype");
}

@font-face {
  font-family: "arvo-regular";
  src: url("/arvo/Arvo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "arvo-bold";
  src: url("/arvo/Arvo-Bold.ttf") format("truetype");
}

* {
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background-color: #181a1b;
}

.header-container {
  display: flex;
  width: 100%;
  align-items: center;
  height: 12.5vh;
  margin-bottom: 2vh;
  z-index: 2;
  position: relative;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100%;
  padding: 5px;
  margin-left: 1vw;
  margin-top: 4vh;
}

.nav-logo-blue-background {
  background: rgb(138, 188, 215);
  border-radius: 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 10px;
}

.nav-image {
  height: 10vh;
  border-radius: 10%;
  transition: all 0.25s ease;
}

.nav-logo-container:hover .nav-image {
  transform: scale(1.255);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

nav,
.nav-members {
  flex: 1;
  height: 100%;
  border-radius: 15px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(138, 188, 215, 0.45);
  padding: 10px;
  z-index: 2;
  position: relative;
  overflow: visible;
  margin-right: 1vw;
  margin-top: 4vh;
}

.nav-members {
  background: rgba(138, 188, 215, 0.1);
}

.glassmorphism-nav {
  background: rgba(138, 188, 215, 0.25);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
}

.nav-hstack {
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 15px;
}

.nav-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item-container:hover .nav-image {
  transform: none;
}

.nav-image-container {
  max-height: 10vh;
}

.nav-links {
  text-decoration: none;
  font-size: large;
  color: white;
  transition: scale 0.2s ease-in-out, transform 0.3s ease;
  padding: 10px 20px;
  white-space: nowrap;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "arvo-bold", sans-serif;
}

.nav-links:hover {
  scale: 1.05;
  background: rgba(56, 44, 44, 0.1);
  border-radius: 5px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links::after {
  display: none;
}

.container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-image-container {
  height: 90vh;
  width: 100vw;
  margin-top: -16vh;
  position: relative;
  overflow: hidden;
}

.home-image {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 0.5;
}

.fade-out {
  opacity: 0.1;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.content-blur {
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.blob {
  background-color: black;
  height: 300px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, mediumpurple, #8abcd7);
  animation: rotate 7s infinite;
  opacity: 0.3;
}

#blur {
  height: 200vh;
  width: 100vw;
  position: absolute;
  z-index: -12;
  backdrop-filter: blur(12vmax);
}

.footer-container {
  width: 100vw;
}

footer {
  width: 100%;
  background-color: #8abcd7;
  align-content: center;
}

.footer-logo {
  height: 200px;
  padding-left: 90px;
  padding-right: 50px;
}

.footer-text-container {
  padding-left: 50px;
  padding-right: 90px;
  font-size: larger;
  color: white;
  font-family: "arvo-regular", sans-serif;
  text-align: center;
}

a {
  color: white;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 0.3em;
}

.members-founders-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.members-founders-card {
  background: linear-gradient(51deg, #2b59c3 30%, #20063b 95%);
  margin: 10px;
  width: 40vw;
  height: 40vh;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
}

.members-founders-card-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px 40px;
  background-color: #7facc4;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.2s ease;
  font-family: "arvo-regular", sans-serif;
}

.members-founders-card:hover .members-founders-card-container {
  border-radius: 10px;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.members-founders-card-text-container {
  font-family: "arvo-bold", sans-serif;
  width: fit-content;
  align-items: center;
  position: absolute;
  margin-left: 3%;
  top: 12vh;
}

.members-founders-card-contacts {
  display: flex;
  margin-top: 40px;
}

.members-founders-card-contacts a {
  color: black;
}

.members-founders-card-contacts img,
.members-founders-card-contacts svg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.members-founders-card-contacts-instagram,
.members-founders-card-contacts-email {
  display: inline-block;
  margin-right: 10px;
}

.members-founders-card-picture {
  position: absolute;
  margin-left: 60%;
  bottom: 12vh;
}

.members-founders-card-picture .chakra-avatar__img {
  width: 10vw;
  height: 10vw;
  border-radius: 50% !important;
}

.members-container-grid {
  width: 90vw;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid white;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.9);
  padding: 5px;
  box-shadow: 0 0 5px white, inset 0 0 2.5px white;
  margin-bottom: 6vh;
}

.members-container-grid::-webkit-scrollbar {
  display: none;
}

.members-header {
  font-family: "arvo-regular", sans-serif;
  font-size: xx-large;
  color: white;
}

.members-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  font-family: "arvo-regular", sans-serif;
}

.members-card {
  background-color: #7facc4;
  width: 25vw;
  height: 25vh;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  flex: 0 0 auto;
  transform: scale(0.98);
  transition: transform 0.25s ease-in-out;
  font-family: "arvo-regular", sans-serif;
}

.members-card:hover {
  transform: scale(1);
}

.members-card-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
  background-color: #7facc4;
  color: #ffffff;
  border-radius: 8px;
  transition: 0.2s ease;
}

.members-card-container > h1 {
  font-family: "arvo-bold", sans-serif;
}

.members-card:hover .members-card-container {
  border-radius: 10px;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
}

.members-card-contacts {
  display: flex;
  margin-top: 40px;
}

.members-card-contacts a {
  color: black;
}

.members-card-contacts img,
.members-card-contacts svg {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.members-card-contacts-email {
  display: inline-block;
  margin-right: 10px;
}

.members-card-picture {
  position: absolute;
  left: 60%;
  top: 16%;
}

.members-card-picture .chakra-avatar__img {
  height: 150px !important;
  width: 150px !important;
  border-radius: 50% !important;
}
